{% extends "blank.html" %}
{% block funcionalidad %}
                <div class="container-fluid">
                    <h3 class="text-dark mb-4">Datos CONAPO</h3>
                    <div class="card shadow" style="margin-top: 1%;">
                        <div class="card-header py-3">
                            <p class="text-primary m-0 fw-bold">Formato para actualizar datos CONAPO</p>
                        </div>
                        <div class="card-body">
<!----------------------------------Comienza la tabla de formulario---------------------------------->
<form method="post" action="{% url 'subir_archivos_conapo' %}" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="accordion mb-3" id="tablaAccordion">
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingTabla">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTabla" aria-expanded="false" aria-controls="collapseTabla">
                    Formulario de archivos CONAPO
                </button>
            </h2>
            <div id="collapseTabla" class="accordion-collapse collapse" aria-labelledby="headingTabla" data-bs-parent="#tablaAccordion">
                <div class="accordion-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Fecha</th>
                                <th>Archivo</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for archivo_conapo in archivos_conapo %}
                            <tr>
                                <td>
                                    {{ archivo_conapo.nombre }}
                                    <input type="hidden" name="nombre_{{ forloop.counter }}" value="{{ archivo_conapo.nombre }}">
                                </td>
                                <td>
                                    <input type="date" name="fecha_{{ forloop.counter }}" class="form-control">
                                </td>
                                <td>
                                    <input type="file" name="archivo_{{ forloop.counter }}" class="form-control">
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                        <tfoot>
                            <tr>
                                <td><strong>Nombre</strong></td>
                                <td><strong>Fecha de actualización</strong></td>
                                <td><strong>Archivo</strong></td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <input type="hidden" name="total_filas" value="{{ archivos_conapo|length }}">
    <div class="card mb-4">
        <div class="card-header d-flex justify-content-center py-3">
            <button type="submit" class="btn btn-primary" style="background: var(--bs-warning);">
                Agregar todo
            </button>
        </div>
    </div>
</form>
<form action="{% url 'limpiar_proyecciones_poblacionales' %}" method="post">
        {% csrf_token %}
    <div class="card-header d-flex justify-content-center py-3">
    <button type="submit" class="btn btn-info btn-icon-split">
        <span class="text-white-50 icon"><i class="fas fa-info-circle"></i></span>
        <span class="text-white text">Limpiar Predicciones Poblacionales</span>
    </button>
    </div>
</form>
<!----------------------------------Termina la tabla de formulario---------------------------------->
                            <div>
                            </div>
                        </div>
                    </div><!-- Inicia la tabla de datos ya existentes -->
<div class="card shadow" style="margin-top: 1%;">
    <div class="card-header py-3">
        <p class="text-primary m-0 fw-bold">Información de Bases existentes</p>
    </div>
    <div class="card-body">
        <div class="table-responsive mt-2 table" id="dataTable-2">
            <table class="table my-0" id="dataTable">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Fecha de actualización</th>
                        <th>Actualizado por</th>
                    </tr>
                </thead>
                <tbody>
                {% for proyeccion_existente in proyecciones_existentes %}
                    <tr>
                        <td>{{ proyeccion_existente.nombre }}</td>
                        <td>{{ proyeccion_existente.fecha_actualizacion }}</td>
                        <td>{{ proyeccion_existente.actualizado_por_nombre }}</td>
                    </tr>
                {% endfor %}
                {% for marginacion_por_localidad in marginacion_por_localidad_existente %}
                    <tr>
                        <td>{{ marginacion_por_localidad.nombre }}</td>
                        <td>{{ marginacion_por_localidad.fecha_actualizacion }}</td>
                        <td>{{ marginacion_por_localidad.actualizado_por_nombre }}</td>
                    </tr>
                {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                        <td><strong>Nombre</strong></td>
                        <td><strong>Fecha de actualización</strong></td>
                        <td><strong>Actualizado por</strong></td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>
<!-- Termina la tabla de datos ya existentes -->
                </div>
{% endblock %}